################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SumOfArrayIntegers/.vs/SumOfArrayIntegers/v14
/SumOfArrayIntegers/SumOfArrayIntegers/bin/Debug
/SumOfArrayIntegers/SumOfArrayIntegers/obj/Debug

*.suo