################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SumOfArrayIntegers/.vs/SumOfArrayIntegers/v14
/SumOfArrayIntegers/SumOfArrayIntegers/bin/Debug
/SumOfArrayIntegers/SumOfArrayIntegers/obj/Debug

*.suo
*.user
/Array/4_Find1Duplicate/4_Find1Duplicate/bin/Debug
/Array/4_Find1Duplicate/4_Find1Duplicate/obj/Debug
/Array/4_Find1Duplicate/4_Find1Duplicate/bin/Release
/Array/4_Find1Duplicate/4_Find1Duplicate/obj/Release
